
<section id="menu">
  <div class="container">
    <div class="menu-area">
      <!-- Navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>          
        </div>
        <div class="navbar-collapse collapse">
          <!-- Left nav -->
          <ul class="nav navbar-nav">
            <li><a [routerLink]="['/home']" routerLinkActive="router-link-active">inicio</a></li>
            <li><a [routerLink]="['/products']" routerLinkActive="router-link-active" >Varon</a></li>
            <li><a [routerLink]="['/products']" routerLinkActive="router-link-active"> Mujer</a></li>
            <li><a [routerLink]="['/products']" routerLinkActive="router-link-active"> Niños</a></li>          
            <li><a [routerLink]="['/blog']" >Blog </a></li>
            <li><a [routerLink]="['/contact']">Contactos</a></li>
          </ul>
        </div>
      </div>
    </div>       
  </div>
</section>